/* ダークモード用のスタイル */
body {
    background-color: #1a1a1a; /* ダークな背景色 */
    color: #ffffff; /* 白色の文字色 */
}

/* 必要に応じて特定の要素にもスタイルを追加 */
h1, h2, h3 {
    color: #ffcc10; /* タイトルの色を変更 */
}

/* タイトルを左揃えにするスタイル */
h1 {
    text-align: left;
}

a {
    color: #66b2ff; /* リンクの色を変更 */
}

/* 他のスタイルも適宜追加 */
